---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import AuthorProfileComponent from "src/components/AuthorProfileComponent.astro";
import Title from "src/components/Title.astro";
import Layout from "src/layouts/Layout.astro";

const title = "Autores";

const authors = await getCollection("author");
---

<Layout title={title}>
  <section class="container px-6 py-10 mx-auto bg-white dark:bg-gray-900">
    <Title>
      {title}
    </Title>

    <a href="/" class="text-blue-500 hover:text-blue-700 underline p-4">
      Inicio
    </a>

    <a href="/blog/1" class="text-blue-500 hover:text-blue-700 underline p-4">
      Blog Paginado
    </a>

    <div class="grid grid-cols-1 mt-8 gap-8 md:mt-16 md:grid-cols-2">
      {
        authors.map((author) => <AuthorProfileComponent {author} />) ||
          "No hay autores"
      }
    </div>
  </section>
</Layout>
